# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment
.env
*.json
!dbt/seeds/*.json

# GCP credentials
*-credentials.json
*-key.json
service-account*.json

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars

# Airflow
airflow/logs/
airflow/plugins/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

temp_data/
